<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="demoTestNG.TestNG_assert"/>
      <class name="demoTestNG.Annotation"/>
      <class name="demoTestNG.Parameter1"/>
      <class name="demoTestNG.OptionalParameter"/>
      <class name="demoTestNG.HardAndSoftASSERT"/>
      <class name="demoTestNG.OHRMTestNG1"/>
      <class name="demoTestNG.TestNG0_1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
